* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: rgb(53, 102, 235);
    --header-height: 3rem;
    --border-bottom-color: red;
    --footer-text-color: black;
}

#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

#app > header {
    grid-area: header;
    height: 3rem;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    margin-left: 1rem;
}

#app > main {
    grid-area: main;
    padding: 15px 5px 10px 5px;
    background-color: gray;
}

#app > footer {
    grid-area: footer;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 1rem;
}

form > #form-select-field-container {
    display: flex;
    flex-wrap: wrap;
}

form .form-container {
    background-color: ghostwhite;
    margin: 0 auto;
    width: 35rem;
    padding: 1.5rem;
}

#form-select-field-container .select-container {
    width: 15.5rem;
}

#form-select-field-container > #to-container {
    margin-left: 1rem;
}

.select-container label {
    font-size: 1.5rem;
}

.select-container select {
    display: block;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
}

#number-input-field-container {
    justify-content: flex-start;
}

#number-input-field-container label {
    font-size: 1.rem;
}

#number-input-field-container input {
    display: block;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
}

#action-buttons-container .action-buttons {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
}

#action-buttons-container #convert-button {
    background-color: lightgreen;
}

#action-buttons-container .secondary-action-button {
    background-color: whitesmoke;
}

#output-container #output-field {
    width: 100%;
    font-size: 1rem;
}